
<!DOCTYPE html>
<html>
<head>
  <title>Pickleback</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">PICKLEBACKS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                      <% if user_signed_in? %>
                        <li><%= link_to 'New poll', new_poll_path, :class=> "sscroll" %>
                        </li>
                        <li><%= link_to 'View all polls', polls_path, :class=> "sscroll" %>
                        </li>
                        <li><%= link_to 'View all polls', polls_path, :class=> "sscroll"%>
                        </li>
                        <li><%= link_to 'Edit profile', edit_user_registration_path, :class=> "sscroll" %>
                        </li>
                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class=> "sscroll" %>
                        </li>
                        <% else %>
                        <li><%= link_to "Sign up", new_user_registration_path, :class=> "sscroll" %>
                        </li>
                         <li><%= link_to "Login", new_user_session_path, :class=> "sscroll" %>
                        </li>
                        <%end%>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    <div id="user_nav" class='navbar navbar-default'>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'New poll', new_poll_path %> |
        <%= link_to 'View all polls', polls_path %> |
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div><!--user_nav-->
    <div id="wrapper">
      <div id="center-wrapper">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
        <%= yield %>
      </div><!--center-wrapper-->
    </div><!--wrapper-->
  </div><!--container-->
</body>
</html>



