

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="section-fill bg-parallax bg-skill" style="background-image: url(/assets/bg-service.jpg);">
    <div class="fill-wrapper">
        <div class="section-title">
            <h2 class="white animated fadeInDown" data-effect="fadeInDown">
                <strong><%= @poll.question %></strong>
            </h2>
            <div>
                <% unless @poll.filepicker_url.empty? %>
                <%= filepicker_image_tag @poll.filepicker_url, w: 300, h: 300 %><br>
                <% end %>
            </div>
            <hr class="title-break">
        </div>
        <div class="container">
            <div class="row">

                <%= form_tag("/answer_me/#{@poll.token}") do %>
                    <% @poll.options.each do |option| %>
                    <div class="col-md-6">
                            <%unless option.filepicker_url.empty?%>
                            <%=filepicker_image_tag option.filepicker_url, h:300, w:400, fit:'crop' %>
                            <%end%>
                    </div>
                    <% end %>
                    <% @poll.options.each do |option| %>
                        <div class="col-md-6">
                            <div class="opt-btn">
                                <div class="opt-txt">
                                    <%= radio_button_tag(:option, option.id) %>
                                    <%= label_tag("option_#{option.id}", "#{option.answer}") %>
                                </div>
                            </div>
                        </div>
                    <%end%>
                    <div id='poll'>
                        <%=submit_tag 'Vote', class:'btn btn-dark vote-button' %>
                    </div>
                <%end%>
            </div> <!-- row -->

            <% if Time.now < @poll.expiration %>
            <div id="countdownClock" class="countdown styled" data-expiration="<%= @poll.expiration %>">
            </div>
            <% end %>

        </div>
    </div>
</div>
</div>

