<h2>Share</h2>
<fieldset>
    <legend>Here's your link to share:</legend>
    <input type="text" id="link_to_share" value="localhost:3000/answer_me/<%=@poll.token%>/vote", size = 56 />
</fieldset>
<br>
<br>
<fieldset>
    <legend>Or send poll via email:</legend>
    <%= form_tag poll_recipients_path(@poll) do %>
        <p>Email recipients:</p>
        <%=text_area_tag("recipients", @recipients, placeholder: "email1@example.com, email2@example.com", size: "40x5") %>
        <p>Write an optional message:</p>
        <p><%=text_area_tag("message", @message, placeholder: "Friends, what do you think?", size: "40x5") %></p>
        <%= submit_tag("Send poll") %>
    <% end %>
</fieldset>
<br>
<%= link_to 'Back to all polls', polls_path %>