

<section id="Share">
  <div class="section-form">
  <div class="col-md-6">
  <br>
  <h2>Sharing is caring!</h2>
  <br>
    <div class="form-group">
    <label for="Share">Share with a link</label>
    <input type="text" id="Share" value="localhost:3000/answer_me/<%=@poll.token%>/vote", size = 56, class="form-control" />
    </div>
    <%= form_tag poll_recipients_path(@poll) do %>
    <form role="form">
      <div class="form-group">
      <label for="Or email">Or email</label>
        <%= text_area_tag("recipients", @recipients, placeholder: "email1@example.com, email2@example.com", :class=> "form-control", autofocus: true) %>
      </div>
      <div class="form-group">
      <label for="Include an optional message">Include an optional message</label>
        <%= text_area_tag("message", @message, placeholder: "Help me choose! I'm in a pickle!", :class=> "form-control", autofocus: true) %>
        <br>
        <%= submit_tag("Share poll", :class=>"btn btn-dark") %>
      </div>
    <% end %>
<%= link_to 'BACK TO ALL POLLS', polls_path, class:'btn btn-dark' %>
</form>
    </div>
  </div>
</section>

