<p>Here's your link to share:</p>
<p>localhost:3000/answer_me/<%=@poll.token%>/vote</p>
<p>Or send poll via email:</p>
<%= form_tag poll_recipients_path(@poll) do %>
    <div class="recipient-email">
        <%=text_field_tag("recipients[]")%>
    </div>
    <div>
        <span class="add-recipient-email">+</span>
    </div>
    <p>Write an optional message: <%=text_field_tag("message")%></p>
    <%= submit_tag("Send poll") %>
<% end %>


<!-- when you submit, where does it post? -->
