<p>Your poll has been created!</p>
<p>Here's your link to share:</p>
<p>http://localhost:3000/answer_me/<%=@poll.token%>/vote</p>
<p>Or send poll via email:</p>
<%= form_tag poll_recipients_path(@poll) do %>
  <%=text_field_tag("recipients[]")%>
  <%=text_field_tag("recipients[]")%>
  <%=text_field_tag("recipients[]")%>
  <p>Write an optional message: <%=text_field_tag("message")%></p>
  <%= submit_tag("Send poll") %>
<% end %>


<!-- when you submit, where does it post? -->
