<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<%if flash[:notice]%>
<%=flash[:notice]%>
<%end%>

<%= form_for @poll do |f| %>
<!-- BEGIN SLIDES -->
<div id="slides" style="background-image: url(/assets/bg-service.jpg);">
  <ul class="slides-container text-center">
    <!-- Slide 1 -->
    <li>
      <div class="header-center fade-in">
        <div id="question">
          <%= f.label :question, :"Ask a question!"%>
          <%= f.text_field :question%>
          <%= f.filepicker_field :filepicker_url, dragdrop: true, onchange: "alert('Image uploaded!')"%> <!-- Poll#filepicker_url is a regular string column -->
        </div>
        <div class="slides-navigation">
          <a href="javascript:;" class="next"><i class="fa fa-angle-right"></i></a>
        </div>
        <%=button_to "Cancel", polls_path, method: :get%>
      </div>
    </li>
    <!-- Slide 2 -->
    <li>
      <div class="header-center fade-in">
        <div id="options">
          <%= f.label :options, :"Add your choices" %>
          <%= f.fields_for :options do |option_form| %>
          <%= option_form.text_field :answer %>
          <%= option_form.filepicker_field :filepicker_url, dragdrop: true,onchange: "alert('Image uploaded!')"%>
          <% end %>
        </div>
        <div class="slides-navigation">
          <a href="javascript:;" class="prev"><i class="fa fa-angle-left"></i></a>
          <a href="javascript:;" class="next"><i class="fa fa-angle-right"></i></a>
        </div>
        <%=button_to "Cancel", polls_path, method: :get%>
      </div>
    </li>
    <!-- Slide 3-->
    <li>
      <div class="header-center fade-in">
        <div id="expiration">
          <%= f.label :expiration, :"When should polling close?" %>
          <%= f.datetime_local_field :expiration %><br>
        </div>
        <div class= "action">
          <%=f.submit%>
        </div>
        <%=button_to "Cancel", polls_path, method: :get%>
      </div>
    </li>
    <!-- Slide 4-->
    <li>
      <div class="header-center fade-in">
        <p>Share!</p>
        <%# render template:"recipients/new" %>
      </div>
    </li>
    <!-- Slide 5-->
    <li>
      <div class="header-center fade-in">
        <p>Shared!</p>
      </div>
    </li>
  </ul>
  <nav class="slides-navigation">
    <a href="javascript:;" class="prev"><i class="fa fa-angle-left"></i></a>
    <a href="javascript:;" class="next"><i class="fa fa-angle-right"></i></a>
  </nav>
</div>
<!-- END SLIDES -->
<% end %>
