<%if flash[:notice]%>
  <%=flash[:notice]%>
<%end%>

<%=form_for @poll do |f|%>
  <div id="question">
    <%=f.label :question%>
    <%=f.text_field :question%>
    <%= f.filepicker_field :filepicker_url, dragdrop: true, onchange: "alert('Image uploaded!')"%> <!-- Poll#filepicker_url is a regular string column -->
  </div>

  <div id="options">
    Answers<br>
    <%= f.fields_for :options do |option_form| %>
      <%=option_form.text_field :answer %>
      <%=option_form.filepicker_field :filepicker_url, dragdrop: true,onchange: "alert('Image uploaded!')"%>
    <%end%>
  </div>

  <div id="expiration">
  Expiration<br>
  <%=f.datetime_local_field :expiration%><br>
  </div>

  <div class= "action">
      <%=f.submit%>
  </div>
<%end%>
<%=button_to "Cancel", polls_path, method: :get%>
