<%if flash[:notice]%>
<%=flash[:notice]%>
<%end%>

<%= form_for @poll do |f| %>
<!-- BEGIN SLIDES -->
<div id="slides">
  <ul class="slides-container text-center">
    <li>
      <!-- Slide 1 -->
      <div class="header-center fade-in">
      
        <div id="question">
          <%= f.label :question%>
          <%= f.text_field :question%>
          <%= f.filepicker_field :filepicker_url, dragdrop: true, onchange: "alert('Image uploaded!')"%> <!-- Poll#filepicker_url is a regular string column -->
        </div>
        
        <%=button_to "Cancel", polls_path, method: :get%> 
      </div>
    </li>
    <li>
      <!-- Slide 2 -->
      <div class="header-center fade-in">

        <div id="options">
          Answers<br>
          <%= f.fields_for :options do |option_form| %>
          <%= option_form.text_field :answer %>
          <%= option_form.filepicker_field :filepicker_url, dragdrop: true,onchange: "alert('Image uploaded!')"%>
          <% end %>
        </div>
        
        <%=button_to "Cancel", polls_path, method: :get%>
      </div>
    </li>
    <li>
      <!-- Slide 3-->
      <div class="header-center fade-in">

        <div id="expiration">
          Expiration<br>
          <%= f.datetime_local_field :expiration %><br>
        </div>
        <div class= "action">
          <%=f.submit%>
        </div>
        
        <%=button_to "Cancel", polls_path, method: :get%>
      </div>
    </li>    
    <li>
      <!-- Slide 4-->
      <div class="header-center fade-in">
        <p>Share!</p>
        <%# render template:"recipients/new" %>
      </div>
    </li>
    <li>
      <!-- Slide 5-->
      <div class="header-center fade-in">
        <p>Shared!</p>
      </div>
    </li>
  </ul>    
  <nav class="slides-navigation">
    <a href="javascript:;" class="prev"><i class="fa fa-angle-left"></i></a>
    <a href="javascript:;" class="next"><i class="fa fa-angle-right"></i></a>
  </nav>
</div>
<!-- END SLIDES -->
<% end %>