<div class= "polls-index-wrapper">
<div class = "polls-title">
    Your Polls
</div>
<br>
<% @polls.each do |poll| %>
  <div class="polls-subtitle">
 <%= poll.question %>
<br>
    <% if Time.now <= poll.expiration %>
        <%= link_to 'VOTE', new_vote_path(poll.token), class: "sub"%> | 
        <%= link_to 'SHARE POLL', new_poll_recipient_path(poll), class: "sub" %> |        
    <% end %>
    <%= link_to 'SEE RESULTS', result_path(poll.id), class: "sub" %> |
    <%= link_to 'DELETE POLL', destroy_poll_path(poll), method: :delete, data: {confirm: "Are you sure?"}, class: "sub" %>
<% end %>
</div>

</div>
</div>
