<h2>Your Polls</h2>
<p>Click on a poll to view results!</p>
<% @polls.each do |poll| %>
    <p><%= poll.question %></p>
    <% if Time.now <= poll.expiration %>
        <%= link_to 'Vote', new_vote_path(poll.token) %> | 
        <%= link_to 'Share Poll', new_poll_recipient_path(poll) %> |        
    <% end %>
    <%= link_to 'See Results', result_path(poll.id) %> |
    <%= link_to 'Delete Poll', destroy_poll_path(poll) %>
<% end %>
