<h2><%=@poll.question%></h2><br>
<%unless @poll.filepicker_url.empty?%>
  <%=filepicker_image_tag @poll.filepicker_url, w: 300, h: 300%>
<%end%>
<ul>

  <%@poll.options.each do |option|%>
    <li><%=option.answer%></li>
    <%unless option.filepicker_url.empty?%>
      <%=filepicker_image_tag option.filepicker_url, w: 300, h: 300%><br>
    <%end%>
  <%end%>
  <p>This poll will expire on <%=@poll.expiration%></p>
</ul>
  <p><%= link_to 'Edit', edit_poll_path(@poll) %></p>
  <p><%= link_to 'Confirm', new_poll_recipient_path(@poll) %></p>
  <p><%= button_to 'Delete poll', destroy_poll_path(@poll) ,method: :delete %></p>
