<div class="spacer big"></div>
<!-- BEGIN SKILL -->
<div class="section-fill bg-parallax bg-skill" style="background-image: url(images/bg-service.jpg);">
    <div class="fill-wrapper">
        <div class="section-title">
            <h2 class="white animatez" data-effect="fadeInDown">
                <strong>SKILL</strong>
            </h2>
            <hr class="title-break">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="skill-bar">
                      <h1>Question: <%= @poll.question %></h1>
                        <ul>
                            <li>
                                <% @poll.options.each do |option| %>
                                  <div class="bar" data-value="100" style="width: 100%;">
                                    <h5><%= option.answer %></h5>
                                    <span><%= option.votes %><span>
                                  </div><br>
                                  <% unless option.filepicker_url.empty? %>
                                      <%=filepicker_image_tag option.filepicker_url, w: 300, h: 300%><br>
                                  <% end %>
                                  </div>
                              <% end %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% if Time.now <= @poll.expiration %>
    <h1>Results so far</h1>
<% else %>
    <h1>The Results are in!</h1>
<% end %>

<h4>Question: <%= @poll.question %></h4>
<h4>Votes</h4>
<% @poll.options.each do |option| %>
    <div id='option_result'>
    <div><%= option.answer %>: <%= option.votes %></div><br>
    <% unless option.filepicker_url.empty? %>
        <%=filepicker_image_tag option.filepicker_url, w: 300, h: 300%><br>
    <% end %>
    </div>
<% end %>

<%if Time.now > @poll.expiration %>
  <h4>The winner is: <%= @poll.winner %>!</h4>
<%end%>
<br>
<%if Time.now < @poll.expiration%>
  <h4>Time left:</h4>
  <div id="countdownClock" data-expiration="<%=@poll.expiration%>">
  </div>
<%end%>
