<div class="section-fill bg-parallax bg-skill" style="background-image: url(/assets/bg-service.jpg);">
  <div class="fill-wrapper">
    <div class="section-title">
      <h2 class="white animated fadeInDown" data-effect="fadeInDown">
        <% if Time.now <= @poll.expiration %>
        <strong>RESULTS SO FAR</strong>
        <% else %>
        <strong>THE RESULTS ARE IN</strong>
        <% end %>
      </h2>
       <%if Time.now < @poll.expiration%>
          <div class="countdown styled" data-expiration="<%=@poll.expiration%>"></div>
        <%else%>
          <h2>The winner is: <span class= "main-color"><%= @poll.winner %></span></h2>
        <%end%>
      <hr class="title-break">
      <div>
      <%unless @poll.filepicker_url.empty?%>
        <%=filepicker_image_tag @poll.filepicker_url, w: 200, h: 200%><br>
      <%end%>
      </div>
      <h2><span class="main-color">Question:</span> <%= @poll.question %></h2>
    </div>
    <div class="container">
      <div class="row">
        <% @poll.options.each do |option| %>
        <div class="col-md-6">
          <div class="skill-bar">
            <ul>
              <li>
                <div class="bar" data-value="<%=option.vote_percent%>" style="width: <%=option.vote_percent%>%;">
                  <h5><%= option.answer %></h5>
                  <span><%= option.vote_proportion_string %></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <% end %>
        <% @poll.options.each do |option| %>
          <div class="col-md-6">
            <% unless option.filepicker_url.empty? %>
                <%=filepicker_image_tag option.filepicker_url, size: "40%"%><br>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

